{% extends "layout.html" %}

{% block content %}
<h1>Tennis Odds</h1>

<!-- League Selection Form -->
<form method="get" action="/tennis">
    <label for="league">Select League:</label>
    <select id="league" name="league" onchange="showLoading(); this.form.submit()">
        {% for league, url in leagues.items() %}
        <option value="{{ league }}" {% if league == selected_league %}selected{% endif %}>
            {{ league.replace('_', ' ').title() }}
        </option>
        {% endfor %}
    </select>
</form>

<!-- Loading Indicator -->
<div id="loadingMessage" class="{% if loading %}visible{% else %}hidden{% endif %}">
    Loading data, please wait...
</div>

<!-- Debugging Info -->
{% if not loading and matches %}
    <p>{{ matches|length }} matches found in {{ selected_league.replace('_', ' ').title() }}.</p>
{% elif not loading %}
    <p>No matches found in {{ selected_league.replace('_', ' ').title() }}.</p>
{% endif %}

<!-- Table for Match Results -->
{% if not loading %}
<table>
    <thead>
        <tr>
            <th>DateTime</th>
            <th>Round</th>
            <th>Player 1</th>
            <th>Player 1 Category</th>
            <th>Player 2</th>
            <th>Player 2 Category</th>
            <th>Player 1 Odds</th>
            <th>Player 2 Odds</th>
            <th>Player 1 Expected Points</th>
            <th>Player 2 Expected Points</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <tr>
            <td>{{ match.date }}</td>
            <td>{{ match.round }}</td>
            <td {% if match.odds.home and match.odds.home | float <= match.odds.away | float %}class="highlight"{% endif %}>
                {{ match.home_player }}
            </td>
            <td>{{ match.home_category }}</td>
            <td {% if match.odds.away and match.odds.away | float < match.odds.home | float %}class="highlight"{% endif %}>
                {{ match.away_player }}
            </td>
            <td>{{ match.away_category }}</td>
            <td {% if match.odds.home and match.odds.home | float <= match.odds.away | float %}class="highlight"{% endif %}>
                {{ match.odds.home }}
            </td>
            <td {% if match.odds.away and match.odds.away | float < match.odds.home | float %}class="highlight"{% endif %}>
                {{ match.odds.away }}
            </td>
            <td>{{ match.expected_points.home }}</td>
            <td>{{ match.expected_points.away }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script>
    function showLoading() {
        document.getElementById("loadingMessage").classList.add("visible");
        document.getElementById("loadingMessage").classList.remove("hidden");
    }
</script>
{% endblock %}
